<!DOCTYPE html>
<html>
<head>
  <title>Desired Yield Page</title>
</head>
<body>
  <h1>New Recipe with Adjusted Yield</h1>
  <h2>Original Recipe</h2>
  <ul>
    <% @recipe_modifier.measurements.split('/').each do |measurement| %>
      <li><%= measurement.strip %></li>
    <% end %>
  </ul>

  <h2>Scaled Recipe (Factor: <%= @scaling_factor %>)</h2>
  <ul>
    <% @scaled_measurements.each do |measurement| %>
      <li><%= measurement.strip %></li>
    <% end %>
  </ul>
</body>
</html>
