<div class="container mt-4 mb-3">
  <h1>Recipe modifiers</h1>
  <div class="row"> 
    <div class="col-md-6 mb-5 d-flex">
      <div class="card shadow flex-fill">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Original Recipe</h5>
          <ul class="flex-fill">
            <% @recipe_modifier.measurements.split('/').each do |measurement| %>
              <li class="list-group-item"><%= measurement.strip %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 mb-5 d-flex">
      <div class="card shadow flex-fill">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Scaled Recipe (Factor: <%= @scaling_factor %>)</h5>
          <ul class="flex-fill">
            <% @scaled_measurements.each do |measurement| %>
              <li class="list-group-item"><%= measurement.strip %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to "Back to recipe modifiers", recipe_modifiers_path %> 
