<div class="mt-4 mb-3">
  <h1>Editing Recipe Modifier</h1>

  <div class="mt-4 shadow p-3 mb-5 bg-body-tertiary rounded w-md-50 mx-auto">
    <div class="card-header">
      <%= render "form", recipe_modifier: @recipe_modifier %>

      <br>

      <div>
        <%= link_to "Show this recipe modifier", @recipe_modifier %> |
        <%= link_to "Back to recipe modifiers", recipe_modifiers_path %>
      </div>
    </div>
  </div>
</div>
