<div class="mt-4 mb-3">
  <h1>New recipe modifier</h1>

  <div class="shadow p-3 mb-5 bg-body-tertiary rounded w-50">
    <div class="card-header">
      <%= render "form", recipe_modifier: @recipe_modifier %>
      <br>
      <div>
        <%= link_to "Back to recipe modifiers", recipe_modifiers_path %>
      </div>
    </div>
  </div>
</div>
