<div class="mt-2 mb-3">
  <h1>New recipe modifier</h1>

  <%= render "form", recipe_modifier: @recipe_modifier %>

  <br>

  <div>
    <%= link_to "Back to recipe modifiers", recipe_modifiers_path %>
  </div>

</div>


