<!-- app/views/shared/_chart_partial.html.erb -->
<div class="chart-container">
  <%= column_chart @chart_data, 
        colors: ["#007bff", "#cec5c5", "#733FC8"], 
        library: {
          chart: {
            backgroundColor: '#2b2b2b',  # Dark background
            style: {
              fontFamily: 'Arial, sans-serif'
            }
          },
          title: {
            text: 'Amount of Users per Month',  # Title text
            style: {
              color: '#a9a9a9',  # Dark grey text for the title
              fontSize: '16px'  # Font size for the title
            }
          },
          xAxis: {
            labels: {
              style: {
                color: '#a9a9a9'  # Dark grey text for x-axis labels
              }
            },
            title: {
              style: {
                color: '#a9a9a9'  # Dark grey text for x-axis title
              }
            }
          },
          yAxis: {
            labels: {
              style: {
                color: '#a9a9a9'  # Dark grey text for y-axis labels
              }
            },
            title: {
              style: {
                color: '#a9a9a9'  # Dark grey text for y-axis title
              }
            }
          },
          legend: {
            itemStyle: {
              color: '#a9a9a9'  # Dark grey text for legend
            }
          }
        } %>
</div>

