<div class="outerdiv">
    <div class="innerdiv">
      <!-- div1 -->
      <div class="div1 eachdiv">
        <div class="userdetails">
          <div class="imgbox">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg"" alt="">
          </div>
          <div class="detbox">
            <p class="name">Sam Clifford</p>
            <p class="designation">Sous Chef at The Rustic Spoon:</p>
          </div>
        </div>
        <div class="review">
          <h4>As a Sous Chef at The Rustic Spoon, my days are filled with managing the kitchen, coordinating with the team, and ensuring dishes meet our high standards.</h4>
        <p>“ Since using your recipe app, I've noticed a significant improvement in our kitchen efficiency. The app's organized recipe collections and quick search features have streamlined our workflow, allowing us to focus more on creativity and less on hunting for recipes. ”</p>
        </div>
      </div>
      <!-- div2 -->
      <div class="div2 eachdiv">
        <div class="userdetails">
          <div class="imgbox">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample24.jpg" alt="">
          </div>
          <div class="detbox">
            <p class="name">Jenn Walters</p>
            <p class="designation">Grill Cook at Flame & Flavor:</p>
          </div>
        </div>
        <div class="review">
          <h4>At Flame & Flavor, I am on the grill.</h4>
        <p>“ Thanks to the app's user-friendly interface, I can easily access recipes on the fly, enhancing my cooking skills and boosting our grill station's reputation!" </p>
        </div>
      </div>
      <!-- div3 -->
      <div class="div3 eachdiv">
        <div class="userdetails">
          <div class="imgbox">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample29.jpg" alt="">
          </div>
          <div class="detbox">
            <p class="name dark">Kira Whittle</p>
            <p class="designation dark">Saute Chef at Bella Cucina:</p>
          </div>
        </div>
        <div class="review dark">
          <h4>Working as a Saute Chef at Bella Cucina demands precision and finesse!</h4>
          <p>“ Your recipe app has been a game-changer for me in the kitchen. With its detailed step-by-step instructions and ingredient measurements, I've honed my sauteing techniques and expanded my culinary repertoire. From classic Italian favorites to innovative twists, the app has empowered me to elevate our menu offerings and delight diners with each plate. Your recipe app has revolutionized my approach to grilling. With its wide array of marinades and seasoning blends, I've been able to experiment with unique flavor profiles. ”</p>
        </div>
      </div>
      <!-- div4 -->
      <div class="div4 eachdiv">
        <div class="userdetails">
          <div class="imgbox">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample5.jpg" alt="">
          </div>
          <div class="detbox">
            <p class="name dark">Jean Harmon</p>
            <p class="designation dark">Garde-Manger at Urban Bistro:</p>
          </div>
        </div>
        <div class="review dark">
          <h4>I'm the Garde-Manger Chef at Urban Bistro.</h4>
        <p>“  I've been able to add new dimensions to our starters, turning simple ingredients into culinary masterpieces. Thanks to the app! ”</p>
        </div>
      </div>
      <!-- div5 -->
      <div class="div5 eachdiv">
        <div class="userdetails">
          <div class="imgbox">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample6.jpg"  alt="">
          </div>
          <div class="detbox">
            <p class="name">Patricia Abrams</p>
            <p class="designation">Line Cook at Coastal Catch:</p>
          </div>
        </div>
        <div class="review">
          <h4>As a Line Cook at Coastal Catch, I'm tasked with preparing seafood dishes that capture the essence of coastal living.</h4>
        <p>“ Your recipe app has been a breath of fresh air in our kitchen, providing me with endless inspiration and guidance. From sustainable seafood sourcing tips to innovative seafood pairings, the app has broadened my culinary horizons and elevated our seafood offerings to new heights, thanks to the app's intuitive design and informative tutorials. ”</p>
        </div>
      </div>
    </div>
  </div>
 
