 <body id="home">
    <h1 style="color: blueviolet;">Meez</h1>
    <h2>Recipe Modifier</h2> 
   
  
    <div class="image-container">
      <%= image_tag("Chef-amico.png", width: '350 px', class: 'img-fluid') %>
    </div>

   <!-- Get Started Button -->
    <div style="text-align: center; margin-top: 20px;">
        <%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary", style: "padding: 10px 20px; font-size: 18px; text-decoration: none; background-color: blueviolet; color: white; border-radius: 5px;" %>
    </div>

  </body>

  
