 <body id="home">
    <h1 style="color: blueviolet;">Meez</h1>
    <h2>Recipe Modifier</h2> 
   
  
    <div class="image-container">
      <%= image_tag("Chef-amico.png", width: '350 px', class: 'img-fluid') %>
    </div>

  </body>

  
