<body id="home">
    <div class="container" style="display: flex; align-items: center; justify-content: space-between;">
        <!-- Headings -->
        <div class="header">
            <h1>Meez</h1>
            <h2>Built for line chefs</h2>
        </div>

        <!-- Get Started Button -->
        <%= link_to "Get Started", new_user_registration_path, class: "btn get-started-button" %>
    </div>
  
    <div class="image-container">
        <%= image_tag("Chef-amico.png", width: '350 px', class: 'img-fluid') %>
    </div>
   
    <%= render 'home/testimonials' %>


    <%= render 'shared/svg_wave' %>

     

</body>




  