<div id="<%= dom_id meez_en_place %>">
  <p>
    <strong>Ingredient name:</strong>
    <%= meez_en_place.ingredient_name %>
  </p>

  <p>
    <strong>Measurement:</strong>
    <%= meez_en_place.measurement %>
  </p>

</div>
