<div class="mt-4 mb-3">
 <h1>Editing meez en place</h1>
<hr>
 <div class="mt-5 shadow p-3 mb-5 bg-body-tertiary rounded w-md-50 mx-auto">
    <div class="card-header">
     <%= render "form", meez_en_place: @meez_en_place %>

  <br>

  <div>
    <%= link_to "Show this meez", @meez_en_place, class: "btn custom-outline-btn" %> |
    <%= link_to "Back to meez", meez_en_places_path, class: "btn custom-outline-btn" %>
  </div>
 </div>
</div>
