<div class="mt-4 mb-3">
  <h1>New meez en place</h1>
   <hr>
  <div class="mt-4 shadow p-3 mb-5 bg-body-tertiary rounded w-md-50 mx-auto">
    <div class="card-header">
      <%= render "form", meez_en_place: @meez_en_place %>

      <br>

      <div>
        <%= link_to "Back to meez", meez_en_places_path, class: "btn custom-outline-btn" %>
      </div>
    </div>
  </div> 
</div>
<hr>
